.env
.venv
*.csv
mlruns/
great_expectations
artifacts/
configs
docker
tests
/data/
setup_gx.py
__pycache__/
*.py[cod]
*$py.class
.DS_Store
!src/serving/model/
!src/serving/model/**
__init__.py
notebooks/*.png
.vscode/